<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'app/content/wrestlers.css' %}" />
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Application name</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Wrestlers<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="{% url 'add_wrestler' %}">Add Wrestler</a></li>
							<li><a href="{% url 'edit_wrestler' %}">Edit Wrestler</a></li>
                            <li><a href="{% url 'delete_wrestler' %}">Delete Wrestler</a></li>
							<li><a href="{% url 'view_wrestler' %}">View Wrestler</a></li>
						</ul>
					</li>
                    <li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Events<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="{% url 'select_event' %}">Select Event</a></li>
							<li><a href="{% url 'add_event' %}">Add Event</a></li>
						</ul>
					</li>
					<li><a href="{% url 'statistics' %}">Statistics</a></li>
                </ul>
                {% include 'app/loginpartial.html' %}
            </div>
        </div>
    </div>

	<div class="container">
    
    <h2>Select Wrestler</h2>
    <form>
      <div class="form-group">
        <!--<label for="sel1">Select One</label>-->
        <div id="select_box">
        <select class="form-control" size="4" id="sel1">
          <option>Aiden English</option>
          <option>AJ Styles</option>
          <option>Asuka</option>
          <option>Bayley</option>
          <option>Becky Lynch</option>
          <option>Big E</option>
          <option>Dean Ambrose</option>
          <option>John Cena</option>
          <option>Roman Reigns</option>
          <option>Sasha Banks</option>
          <option>Seth Rollins</option>
          <option>Triple H</option>
        </select>
        </div>
      </div>
        
        <div class="container" id="button_group">
        <button type="button" class="btn btn-success" value="Submit Button" id="add_wrestler_button">Add Wrestler</button>
        <button type="button" class="btn btn-success" value="Submit Button" id="edit_wrestler_button">Edit Wrestler</button>
        <button type="button" class="btn btn-success" value="Submit Button" id="delete_wrestler_button">Delete Wrestler</button>
        <button type="button" class="btn btn-success" value="Submit Button" id="view_wrestler_button">View Wrestler</button>
        </div>
      
    </form>
  </div>

  <br><br>

  <div class="container" id="add_wrestler_container">
    <h2>Add Wrestler</h2>
    <form>
      <div class="form-group form-inline">
        <label for="nameInput">Name</label>
        <input type="text" class="form-control" id="nameInput" placeholder="John Doe">
      </div>

      <div class="container" id="button_group">
        <button type="button" class="btn btn-success" value="Submit Button" id="save_new_wrestler_button">Save</button>
        <button type="button" class="btn btn-success" value="Submit Button" id="cancel_new_wrestler_button">Cancel</button>
      </div>
    </form>
  </div>

    <div class="container" id="edit_wrestler_container">
    <h2>Edit Wrestler</h2>
    <form>
      <div class="form-group form-inline">
        <label for="nameInput">Name</label>
        <input type="text" class="form-control" id="nameInput" value="John Cena">
      </div>

      <div class="container" id="button_group">
        <button type="button" class="btn btn-success" value="Submit Button" id="save_edit_wrestler_button">Save</button>
        <button type="button" class="btn btn-success" value="Submit Button" id="cancel_edit_wrestler_button">Cancel</button>
      </div>
    </form>
  </div>

   <div class="container" id="view_wrestler_container">
  		<div class="jumbotron">
    		<h2 id="view_name">Dean Ambrose</h2> 
    		
    		<h3 class="view_headings">Number of Matches</h3>
			<p>22</p>

    		<h3 class="view_headings">Number of Wins and Losses</h3>
			<p>19</p>

    		<h3 class="view_headings">Number of Wins</h3>
			<p>14</p>

    		<h3 class="view_headings">Number of Losses</h3>
			<p>5</p>

    		<h3 class="view_headings">Number of Draws</h3>
			<p>3</p>

    		<h3 class="view_headings">Winning Percentage</h3>
			<p>64%</p>

    		<h3 class="view_headings">Number of Correct Predictions</h3>
			<p>13</p>

    		<h3 class="view_headings">Prediction Percentage</h3>
			<p>68%</p>
  		</div>
    </div>


    <div class="container body-content">
{% block content %}{% endblock %}
        <hr/>
        <footer>
            <p>WWE Predictions</p>
            <p>Sam Radford</p>
            <p>2017</p>
        </footer>
    </div>

    <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>
    <script src="{% static 'app/scripts/wrestlers.js' %}"></script>
{% block scripts %}{% endblock %}

</body>
</html>