/**Site CSS */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}


/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}


/**Basic Wrestlers Page CSS*/

h2, label {
    text-align: center;
}

form {
    text-align: center;
}

.form-group {
    text-align: center;
}

select {
    text-align: center;
}

option {
    font-size: 1.8rem;
}


#button_group {
    text-align: center;
}


#passed {
    color: forestgreen;
}

#failed {
    color: red;
}




/**Footer*/
footer {
    text-align: center;
}
